---
interface Props {
	title: string;
	href: string;
	className: string;
	id: string;
	img: string;
	imgClass: string;
	linkClass: string;
	color: string;
}

const { href, title, img, className, id, imgClass, linkClass, color } =
	Astro.props;
const titleWords = title.split(" ");
console.log(id);
---

<li class={className} id={id}>
	<a
		href={href}
		class={`${linkClass} relative p-4 w-[152px] h-[170px] pb-0 `}
	>
		<h2
			class={`text-lg font-bold w-[120px] h-[77px] self-center mt-5 ${id === "ProjectPlanning4" && "ml-3"} ${id === "QA&Inspection6" && "ml-[14px] z-[20]"}`}
		>
			<div class="tracking-wider">{titleWords[0]}</div>
			<div>{titleWords[1]}</div>
		</h2>
		<div
			class=`${color === "black" && "bg-black"} ${color === "orange" && "bg-orange-500"} ${color === "gray" && "bg-[#727272]"} w-[90%] h-[60%]  rounded-t-full  rotate-180 flex justify-center items-center mt-4`
		>
			<img src={img} class={`${imgClass} rotate-180`} />
		</div>
	</a>
</li>
